*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bg-color : #FAFDF9;
    --bleu : #2F4156;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .01rem;
}

header {
    background-color: var(--bleu);
    color: white;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

header img {
    width: 55px;
    height: 55px;
    margin-right: 1.5rem;
    transition: all 0.2s ease;
}

header img:hover {
    transform: scale(1.05);
}


/* NAV ALY */

.side-nav {
    width: 250px;
    height: 100vh;
    background-color: var(--bleu);
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 1000;
}


.side-nav.hidden {
transform: translateX(-100%);
}

.side-nav .logo {
padding: 15px;
text-align: center;
border-bottom: 1px solid var(--bleu);
}

.side-nav .logo img {
max-width: 50px;
transition: all 0.2s ease;
}

.side-nav .logo img:hover {
transform: scale(1.05);
}

.toggle-menu {
display: none;
background: none;
border: none;
color: #C8D9E6;
font-size: 24px;
padding: 10px 20px;
cursor: pointer;
position: absolute;
top: 10px;
left: 10px;
z-index: 1110;
}

.side-nav .menu {
list-style: none;
padding: 0;
display: flex;
flex-direction: column;
gap: 1rem;
}

.side-nav .menu-item {
padding: 15px 20px;
display: flex;
align-items: center;
color: #ecf0f1;
text-decoration: none;
cursor: pointer;
transition: background-color 0.3s ease;
}

.side-nav .menu-item i {
margin-right: 10px;
font-size: 18px;
}

.side-nav .menu-item:hover {
background-color: #34495e;
}

/* Dropdown Toggle Arrow */
.side-nav .dropdown-toggle::after {
content: "▼";
margin-left: auto;
font-size: 12px;
transition: transform 0.3s ease;
}

/* Rotate Arrow When Open */
.side-nav .dropdown-toggle.rotate::after {
transform: rotate(180deg);
}

/* Dropdown Menu */
.side-nav .dropdown {
list-style: none;
padding: 0;
margin: 0;
max-height: 0;
overflow: hidden;
background-color: #34495e;
transition: max-height 0.4s ease, opacity 0.4s ease;
opacity: 0;
}

/* When Dropdown is Open */
.side-nav .dropdown.open {
max-height: 200px; /* Adjust based on content height */
opacity: 1;
}

.side-nav .dropdown li a {
padding: 15px 40px;
display: flex;
align-items: center;
color: #ecf0f1;
text-decoration: none;
transition: background-color 0.3s ease;
}

.side-nav .dropdown li a i {
margin-right: 10px;
font-size: 16px;
}

.side-nav .dropdown li a:hover {
background-color: #3b5998;
}

@media (max-width: 1130px) {
    .side-nav {
        transform: translateX(-100%);
    }
    
    .side-nav.hidden {
        transform: translateX(0);
    }
    
    .toggle-menu {
        display: block;
    }
}



/* Logout Button */
.side-nav .logout {
margin-top: auto;
padding: 20px;
border-top: 1px solid #34495e;
}

.side-nav .logout-button {
display: flex;
align-items: center;
color: #ecf0f1;
text-decoration: none;
font-size: 16px;
padding: 10px 20px;
border-radius: 5px;
background-color: transparent;
overflow: hidden;
transition: all 0.4s ease;
position: relative;
}

.side-nav .logout-button i {
margin-right: 10px;
font-size: 18px;
transition: transform 0.4s ease;
}

.side-nav .logout-button:hover {
color: #ffffff;
background-color: #3b5998;
padding-left: 30px;
}

.side-nav .logout-button:hover i {
transform: rotate(-20deg);
}

.side-nav .logout-button:hover::before {
content: "";
position: absolute;
height: 100%;
width: 5px;
left: 0;
top: 0;
animation: slide-in 0.4s ease;
}

@keyframes slide-in {
from {
    width: 0;
}
to {
    width: 5px;
}
}
    

    

/* ACCUEIL CLARA */


/* .accueil {
    margin: 0 auto;
    padding: 0;
    margin-left: calc(250px + 5%); 
    margin-right: 5%; 
    width: calc(100% - 250px - 10%);
} */

.accueil h1 {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
}

.accueil .container {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        "applications applications messages"
        "notifs notifs rendus"
        "menu menu rendus"
        "actualites actualites actualites";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    padding: 20px;
    max-width: 1000px;
/*     margin-left: calc(250px + 5%); 
    margin-right: 5%; 
    width: calc(100% - 250px - 10%); */
}

/* Widget général */
.accueil .widget {
    border-radius: 15px; /* Coins moins arrondis */
    padding: 1rem; /* Réduction du padding */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre plus subtile */
    font-size: 0.9rem; /* Taille de police réduite */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: var(--bleu) 1px solid;
}

.accueil .widget:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Flexbox pour les sous-blocs */
.accueil .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem; 
}

.accueil .applications .flex-container {
    margin-top: 1rem;
}

.accueil .sub-block {
    flex: 1;
    height: 6.5rem; 
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    border: black solid 1px;
}

.accueil .absences, .accueil .notes, .accueil .reservations {
    flex: 1;
}

.accueil img {
    width: 40px;
    margin: 0 auto;
    display: block;
    height: auto;
    border-radius: 6px;
    transition: transform 0.2s;
    margin-bottom: .5rem;
}

.accueil .notifs h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
}

.accueil .big {
    font-size: 2.5rem;
}

.accueil .container a {
    text-decoration: none;
    color: var(--bleu);
    font-weight: bold;
}

/* Grid Positionnement */
.applications {
    grid-area: applications;
    border: black 1px solid;
    padding: 0.8rem;
    border-radius: 10px;
}

.notifs {
    grid-area: notifs;
    border: black 1px solid;
    padding: 0.8rem;
    border-radius: 10px;
}

.menu {
    grid-area: menu;
}

.messages {
    grid-area: messages;
    background-color: var(--bleu);
    color: var(--bg-color);
}

.rendus {
    grid-area: rendus;
}

.actualites {
    grid-area: actualites;
    background-color: var(--bleu);
    color: var(--bg-color);
}

.accueil h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.accueil hr {
    margin-bottom: 1.5rem;
}

@media (width<=800px) {
    .accueil .container {
        grid-template-areas:
            "applications"
            "notifs"
            "messages"
            "rendus"
            "menu"
            "actualites";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}


/* CONNEXION EMILIE */

/* .connexion {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: "Inter", "regular";
    background-color: #f4f4f4;
}
 */

.connexion {
    display: flex;
    flex-direction: row; 
    gap: 30px;
    justify-content: center;
}

.connexion h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem;
    max-width: 400px;
}

.connexion h2 {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
}

.connexion .password-container {
    position: relative;
    display: inline-block;
}

.connexion .toggle-password {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: .9em;
}

.connexion .left-section {
    background-color: var(--bleu); 
    color: white;
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.connexion .left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 3.5rem;
    gap: 2rem;
}

.connexion img {
    width: 70px;
    height: 70px;
}

.right-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-form {
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #2F4156;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #577C8E;
    outline: rgba(87, 124, 142, 1) auto 15px;
}

.login-form input[type="submit"] {
    background-color: #2F4156;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    padding: 10px 30px;
}

.login-form input[type="submit"]:focus {
    outline: red auto 15px;
}

.login-form input[type="submit"]:hover {
    background-color: #3E5D71;
}

.login-form .forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #2F4156;
    text-decoration: none;
}

.login-form .forgot-password:hover {
    text-decoration: underline;
    color: #577C8E;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    justify-content: left;
    font-size: 0.9rem;
    color: #577C8E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #3E5D71;
}


@media (max-width: 800px) {
    .connexion {
        flex-direction: column;
    }
    .connexion .left-section {
        width: 100%;
        height: 17vh;
    }
    .connexion .left-block {
        bottom: 0;
        flex-direction: row;
    }
    .right-section {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .connexion h1 {
        font-size: 1.5rem;
    }
    .connexion h2 {
        font-size: 1.5rem;
    }
    .connexion .left-block {
        gap: 1rem;
    }
    .connexion img {
        width: 50px;
        height: 50px;
    }
    .login-form input[type="submit"] {
        padding: 10px 20px;
    }
}




/* EDT CLARA */

.page-edt h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

.page-edt h2 {
    text-align: center;
    font-size: 1.3rem;
}

.edt-container {
    width: 100%;
    margin: 1rem auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.edt-cell {
    width: fit-content;
    height: 45px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    min-width: 50px;

}

.edt-day {
    padding: 5px;
    background-color: #f4f4f4;
    font-weight: bold;
    color: var(--bleu);
    font-size: 1rem;
}

.edt-cell.event {
    background-color: var(--bleu);
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.edt-cell.event:hover {
    background-color: #0056a4; 
    transform: scale(1.05);
}


@media (max-width: 900px) {
    .edt-cell {
        height: 35px;
    }
}

@media (max-width: 700px) {
    .edt-cell {
        font-size: 0.8rem;
        height: 30px;
    }
    .edt-day {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .edt-cell {
        font-size: 0.7rem;
        height: 25px;
    }
    .edt-day {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .edt-cell {
        font-size: 0.6rem;
        height: 20px;
    }
    .edt-day {
        font-size: 0.7rem;
    }
}



/* ELEARNING ET ARCHIVES MEL */

section:not(.connexion) {
    margin-left: calc(250px + 5%); 
    margin-right: 5%; 
    width: calc(100% - 250px - 10%);
}

  .page-elearning h1, .page-archives h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  /* Course section */
  .section-title {
    background-color: #2F4156;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    margin: 30px 0 10px 0;
    text-align: center;
    font-size: 1.4rem;    
  }

  .course-container {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      gap: 50px;
      width: 100%;  
      margin-top: 30px;
      margin-bottom: 70px;
  }

  .elearning-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
  }

  .course-card {
    width: 300px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .course-card:hover {
    transform: scale(1.02); /* Zoom léger */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
  }
  
  .course-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    
  }

  .course-details {
    background-color: #2F4156;
    color: white;
    padding: 10px;
    text-align: left;
    z-index: 1;
    height: 70px;
    position: relative;
    flex: 0 0 auto;

  }

  .course-details strong {
    font-size: 0.9rem;
    display: block;
  }  
  
  .course-details span {
    margin-top: 8px; 
    display: block; 
    font-size: 0.9rem;
  }
  

  /* Archives Button */
  .archives-btn {
    background-color: #2F4156;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 100px;
    transition: all 0.2s ease;
    border: white 1px solid;
  }

  .archives-btn:hover {
    background-color: #567C8D;
  }


  /* Style du conteneur du menu déroulant */
.semestre-dropdown {
  margin: 20px auto;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style de la liste déroulante */
.semestre-dropdown select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* Style au hover et focus */
.semestre-dropdown select:hover, 
.semestre-dropdown select:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive design */
@media (max-width: 768px) {
  .course-container {
    flex-direction: column;
    align-items: center;
    gap: 30px; 
  }

  .course-card {
    width: 95%; 
    max-width: 340px; 
    height: 200px; 
  }

  .course-details {
    text-align: center; 
  }

  .course-details strong{
   margin-top: 5px;
  }

  .section-title {
    font-size: 1.2rem; 
    margin-top: -10px;
  }

  .semestre-dropdown {
    flex-direction: column; 
    text-align: center;
    gap: 15px;
  }

  .semestre-dropdown select {
    width: 90%; 
  }

  .archives-btn {
    position: static; 
    margin-bottom: 30px;
  }
  .flex-container-btn {
    display: flex;
    justify-content: flex-end;
  }
}





/* VIE ETUDIANTE */

.page-vie-etudiante {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
}

.page-vie-etudiante .sections-container {
display: flex;
flex-direction: column;
gap: 5px;
}

.page-vie-etudiante .section-wrapper {
margin-bottom: 10px;
}

.page-vie-etudiante .section-wrapper h2 {
text-align: center;
align-items: center;
}

.page-vie-etudiante .info-card {
background-color: #577C8E;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
overflow: hidden;
margin-bottom: 15px;
max-width: 340px;
max-height: 290px;
margin-left: auto;
margin-right: auto;
justify-content: space-between;

}

.page-vie-etudiante .info-card img {
width: 100%;
height: auto;
max-height: 130px;
}

.page-vie-etudiante .info-card-content {
padding: 10px;
}

.page-vie-etudiante .info-card-title {
font-size: 1rem;
font-weight: bold;
margin-bottom: 10px;
color: #fff;
}

.page-vie-etudiante .info-card-description {
font-size: 0.875rem;
color: #fff;
margin-bottom: 15px;
}

.page-vie-etudiante .info-card-button {
display: inline-block;
padding: 10px 15px;
background-color: #2F4156;
color: #fff;
text-decoration: none;
border-radius: 6px;
font-size: 0.875rem;
}

.page-vie-etudiante .info-card-button:hover {
background-color: #fff;
color: #2F4156;
}

/* Styles pour écran large */
@media (min-width: 768px) {
.page-vie-etudiante {
    max-width: 1024px;
}

.page-vie-etudiante .sections-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.page-vie-etudiante .section-wrapper h2 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.page-vie-etudiante .info-card {
    max-width: 360px; 
    min-height: 270px;
}

.page-vie-etudiante .large-card .info-card {
    max-width: 700px;
    min-height: 320px; 
}

.page-vie-etudiante .large-card .info-card img {
    min-height: 160px; 
}

.page-vie-etudiante .info-card img {
    height: 180px;
    object-fit: cover;
}

}






/* PAGE PROFIL */

.profil-container {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-areas: 
    "p_header p_header p_header p_qrcode p_qrcode"
    "p_shortcuts p_shortcuts p_absences p_absences p_absences"
    "p_reservations p_reservations p_absences p_absences p_absences"
    "p_reservations p_reservations p_documents p_documents p_documents";
gap: 20px;
padding: 20px;
max-width: 1000px;
margin: 0 auto;
grid-template-rows: auto;
}

.page-profil h1 {
font-size: 2rem;
text-align: center;
margin: 1rem 0;
}

.page-profil .block {
    border-radius: 10px;
    padding: 20px;
    border: var(--bleu) 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-profil .block:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.profil-header {
display: flex;
align-items: center;
grid-area: p_header;
gap: 20px;
color: var(--bg-color);
background-color: var(--bleu);
}

.profil-picture img {
width: 100%;
border-radius: 50%;
width: 120px;
}

.profil-info h2 {
font-size: 1.5rem;
margin: 0;
}

.profil-info p {
margin: 0;
font-size: 1rem;
}

.profil-qr {
grid-area: p_qrcode;
margin-top: auto;
margin-bottom: auto;
}

.profil-qr img {
width: 100%;
}

.page-profil .shortcuts {
grid-area: p_shortcuts;
display: flex;
justify-content: space-between;
gap: 10px;
width: 100%;
}

.page-profil .shortcuts a {
padding: 20px 20px;
background-color: #f0f0f0;
border: 1px solid #ccc;
border-radius: 5px;
cursor: pointer;
width: 100%;
text-decoration: none;
text-align: center;
transition: all 0.2s ease;
}

.page-profil .shortcuts a:hover {
background-color: #ddd;
}

.page-profil .reservations {
grid-area: p_reservations;
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}

.page-profil .reservation-item {
margin: 10px 0;
}

.page-profil .absences {
grid-area: p_absences;
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}

.page-profil .absence-item {
margin: 10px 0;
}

.page-profil .documents {
grid-area: p_documents;
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}

.page-profil .table {
width: 100%;
border-collapse: collapse;
}

.page-profil .table td {
padding: 10px;
border: 1px solid #ccc;
}


@media (width<=700px) {
    .profil-container {
        grid-template-areas:
            "p_header p_header"
            "p_shortcuts p_qrcode"
            "p_absences p_absences"
            "p_reservations p_reservations"
            "p_documents p_documents";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (width<=450px) {
    .profil-container {
        grid-template-areas:
            "p_header"
            "p_shortcuts"
            "p_qrcode"
            "p_absences"
            "p_reservations"
            "p_documents";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .profil-header img {
        width: 100px;
    }
}





/* RENDUS CLARA */

.page-rendus h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.page-rendus .rendus-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0 auto;
    max-width: 1000px;
}

.page-rendus .rendu-card {
    border-radius: 10px;
    padding: 20px;
    border: var(--bleu) 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.page-rendus .etats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 2rem 1rem;
}

.page-rendus .etat {
    padding: 10px;
    border-radius: 20px;
    transition: all 0.2s ease;
    border: var(--bleu) 1px solid;
    cursor: pointer;
}

.page-rendus .etat:hover {
    transform: scale(1.02);
}

.page-rendus .a-faire {
    background-color: #FFBFBF;
    color: #2F4156;
}

.page-rendus .fait {
    background-color: #C9F4E1;
    color: #2F4156;
}

.page-rendus .en-cours {
    background-color: #FFCC99;
    color: #2F4156;
}

.page-rendus a {
    text-decoration: none;
    color: var(--bleu);
    font-weight: bold;
    display: block;
}

.page-rendus a:hover {
    text-decoration: underline;
}

.page-rendus .ajouter-rendu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--bleu) 1px solid;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 100%;
    gap: 30px;
    position: relative;
}

.page-rendus .ajouter-rendu:hover {
    background-color: #f9f9f9;
}

.page-rendus .ajouter-rendu img {
    font-weight: bold;
    width: 6rem;
    transition: all 0.2s ease;
    position: absolute;
}

.ajouter-rendu:hover img {
    transform: scale(1.05);
}

.ajouter-rendu p {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--bleu);
    position: absolute;
    bottom: 0;
}



/* modale */

.page-rendus .modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.page-rendus .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-rendus .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.page-rendus form {
    display: flex;
    flex-direction: column;
}

.page-rendus label {
    margin-top: 10px;
    font-size: 16px;
}

.page-rendus input, textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.page-rendus .modal button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-rendus .modal button[type="submit"]:hover {
    background-color: #45a049;
}





/* MEDIA QUERIES SECTIONS */

@media (max-width: 1320px) {
    section:not(.connexion) {
        margin-left: calc(250px + 2%);
        margin-right: 3%;
        width: calc(100% - 250px - 4%);
    }
}

@media (max-width: 1130px) {
    section:not(.connexion) {
        margin: 0 auto;
        padding: 0 3rem; 
        width: 100%;
    }
}

@media (max-width: 600px) {
    section:not(.connexion) {
        padding: 0 1rem; 
    }
    .accueil .flex-container {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 460px) {
    section:not(.connexion) {
        padding: 0 0.5rem; 
    }
    .accueil .sub-block {
        font-size: 0.8rem; 
    }
    .accueil .sub-block img {
        width: 35px;
    }
    .accueil .big {
        font-size: 2.2rem;
    }
    .accueil .flex-container {
        font-size: 0.8rem;
        gap: .5rem;
    }
    .accueil .notifs h3 {
        font-size: 0.8rem;
        text-align: center;
    }

}


