/* styles.css */
/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
} */

.w_container {
    max-width: 1000px;
    margin: 5rem 3rem;
    display: grid;
    grid-template-areas:
        "cours cours carteUni carteUni"
        "rendus rendus messagerie messagerie"
        "absences notes edt elearning"
        "actualites actualites reservations reservations"
        "actualites actualites crous crous"
        "actualites actualites crous crous";
    grid-template-columns: 2fr 1fr 1fr 1fr; /* 4 colonnes de largeurs variées */
    grid-template-rows: auto; /* Les lignes s'adaptent à leur contenu */
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.widget {
    background: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: .1rem;
}

.widget:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}


/* Positionnement des widgets */
.w_cours {
    grid-area: cours;
    height: 110px;
}

.w_rendus {
    grid-area: rendus;
}

.w_absences {
    grid-area: absences;
}

.w_notes {
    grid-area: notes;
}

.w_actualites {
    grid-area: actualites;
}

.w_carteUni {
    grid-area: carteUni;
    height: 80px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.w_messagerie {
    grid-area: messagerie;
    height: 150px;
    margin-top: -30px;
}

.w_elearning {
    grid-area: elearning;
}

.w_edt {
    grid-area: edt;
}

.w_reservations {
    grid-area: reservations;
    height: 20px;
}

.w_crous {
    grid-area: crous;
    margin-top: -15px;
}


@media (max-width: 700px) {
    .w_container {
        grid-template-areas:
            "carteUni carteUni carteUni"
            "cours cours cours"
            "rendus rendus rendus"
            "messagerie messagerie messagerie"
            "absences absences absences"
            "notes edt elearning" 
            "reservations reservations reservations"
            "crous crous crous"
            "actualites actualites actualites";
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
        gap: 10px; /* Espace réduit entre les éléments */
    }

    .widget {
        margin-top: 0;
    }
}

