body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: "Inter", "regular";
    background-color: #f4f4f4;
   
}


.login-form {
    background: #2F4156;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.login-form button:hover {
    background-color: #0056b3;
}


.login-form .forgot-password:hover {
    text-decoration: underline;
}



.connecter{
    display: flex;
    padding: 10px 60px;
   background-color: white;
   color: black;
   border: none;
   border-radius: 16px;
   cursor: pointer;
   margin-top: 10px;
}

.connect{
    color: white;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row; 
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}


.item {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.left-block {
    background-color: #577C8E; /* Couleur de fond */
    color: white; /* Texte en blanc */
    width: 35%; /* Bloc couvre 25% de la largeur */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: left;
}
.bienvenue{
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: left;
}
.left-block h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.left-block p {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

.right-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.block {
    width: 310px;
    height: 350px;
    background-color: #577C8E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    color: white;
    overflow: hidden;
    position: relative;
    padding: 0;
    max-height: 320px; 
}


.block .food {
    width: 100px;
    height: 85px;
    margin-bottom: 20px;
    object-fit: contain;
}


.block p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.block .resa {
    display: flex;
 padding: 10px 60px;
background-color: #2F4156;
color: white;
border: none;
border-radius: 16px;
cursor: pointer;
margin-top: 10px;
        
}


.block p {
    margin-top: 2px;
    margin-bottom: 0;
    text-align: left; 
    flex-grow: 1; 
}

.block .description {
    font-size: 0.9rem;
    text-align: left;
    margin: 2px 10px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 10px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex-grow: 1; 
}

.resas {
    margin-top: 2px;
    padding: 10px 40px;
    margin-left: 220px;
    background-color: #2F4156;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    align-self: flex-start; 
    font-family: "Inter", "regular";
    font-weight: 400;
    font-size: 0.9rem;
}

.food{
    width: 100px;
    height: 85px;
}

.block .reservez {
   
        text-align: left;
        width: 90%;
        margin: 10px 0;
        margin-bottom: 2px;
        font-size: 1.2rem; 
}

.block .image {
        width: 100%;
        height: 40%;
        object-fit: cover; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

}